/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fbfbfb;
}

input {
  outline: none;
}

.form-block {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #dadada;
}

.form-block input {
  display: block;
  margin: 12px 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  padding: 12px;
  border: 1px solid black;
  border-radius: 5px;
  width: 260px;
}

.form-block input[type="submit"] {
  color: white;
  width: 288px;
  background-color: #3c8453;
  border: none;
  margin-bottom: 15px;
  cursor: pointer;
}

.form-block input[type="submit"]:hover {
  background-color: #3c8453d1;
}

.form-block .error-message {
  margin-bottom: 10px;
  color: red;
}

.Topbar {
  background-color: #4f8054;
  height: 55px;
  border-bottom: 1px solid #dadada;
}

.Topbar span {
  float: left;
  font-size: 24px;
  font-weight: bold;
  margin-top: 14px;
  margin-left: 25px;
  color: white;
}

.main {
  text-align: left;
}

.sidebar-width {
  display: inline-block;
  background-color: #4f8054;
  width: 220px;
}

.sidebar {
  color: #e3efe7;
  //padding-left: 25px; 
}

.message-section p {
  margin: 0;
  padding: 5px 0;
  cursor: pointer;
}

.message-section p:hover {
  background-color: #2d4e38;
}

.message-section .add-another {
  margin-bottom: 5px;
  margin-top: 40px;
  position: relative;
}

.message-section .add-another span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.sidebar .sign-out {
  margin-top: 15px;
  margin-left: 15px;
  padding: 7px;
  border: 1px solid #f1f1f1;
  display: inline-block;
  background-color: #4f8054;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.sidebar .username {
  padding-top: 15px;
}

.sidebar .username .email {
  display: block;
}

.message-section p, .message-section .add-another, .sidebar .username {
  padding-left: 15px;
}






.messages-width {
  display: inline-block;
  position: absolute;
  top: 0;
  width: calc(100% - 220px);
}

.messages-side {
  height: 100%;
}

.messages-block {
  position: absolute;
  width: 100%;
  max-height: 85%;
  overflow: scroll;
  position: relative;
}

.messages-title {
  padding-left: 20px;
  margin-top: 10px;
  font-size: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid #d4cece;
  font-weight: bold;
  color: #484848;
  position: relative;
  z-index: 1;
  background-color: #fbfbfb;
}

.messages-title .add-friend-to-channel {
  font-size: 14px;
  display: block;
  color: #676666;
  margin-top: 10px;
}

.messages-title .add-friend-to-channel input {
  margin-left: 10px;
  font-size: 14px;
  padding: 4px;
  border: 1px solid #a79e9e;
  border-radius: 3px;
}

// .messages-block form {
//  margin-top: 15px;
//} 

.messages-block form {
  position: fixed;
  bottom: 20px;
  width: 80%;
  min-width: 600px;
}

.messages-block form input[type="text"] {
  margin-top: 20px;
  margin-left: 20px;
  border: 2px solid #cccccc;
  font-size: 16px;
  padding: 10px;
  width: 75%;
  outline: none;
  border-radius: 5px;
}

.messages-block form input[type="text"]:focus {
  border: 2px solid #8a8989;
}

.messages-block form input[type="submit"] {
  border: 1px solid #2387ef;
  border-radius: 5px;
  margin-left: 25px;
  font-size: 16px;
  color: white;
  background-color: #2387ef;
  padding: 6px;
  right: 0;
  bottom: 5px;
  cursor: pointer;
  outline: none;
}

.messages-block form input[type="submit"]:hover {
  border-color: #91c6fd;
  background-color: #91c6fd;
}

.message-block {
  margin-right: 13px;
  margin-left: 20px;
  min-width: 600px;
}

.message-block .message-username {
  font-size: 17px;
  font-weight: bold;
  color: #2f2f2f;
}

.message-block .message-date {
  font-size: 14px;
  color: #545454;
}

.message-block .message-content {
  margin-top: 6px;
  margin-bottom: 22px;
  padding-bottom: 8px;
  border-bottom: 1px solid #cecccc;
}

.modal-container {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #00000040;
}

.modal-container form {
  background-color: white;
  width: 500px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  border: 1px solid darkgrey;
  border-radius: 5px;
  position: relative;
  padding: 25px;
}

.modal-container h2 {
  margin: 15px 10px;
  font-size: 30px;
}

.modal-container input[type="text"], .modal-container input[type="email"] {
  margin: 12px 10px;
  width: 85%;
  font-size: 22px;
  padding: 12px;
  border: 1px solid #9a9999;
  border-radius: 4px;
}

.modal-container span {
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 24px;
  cursor: pointer;
}

.modal-container input[type="submit"] {
  position: absolute;
    bottom: 25px;
    right: 25px;
    height: 46px;
    font-size: 20px;
    padding: 0px 16px;
    border: 1px solid #d8d5d5;
    font-weight: bold;
    color: #616161;
    background-color: #e2e2e2;
    border-radius: 3px;
    cursor: pointer;
}





html, body, #root, .App, .main, .sidebar-width, .messages-width{
  height: 100%
} */

/* 
  Table of Contents
    Main Layout
    Sidebar
    Forms
    Messages
*/

body {
  margin: 0;
  font-family: 'Arimo', sans-serif;

}

/* Main Layout */
.main-layout {
  height: 100vh;
  background-color: #F7F6F6;
}

.main {
  display: inline-block;
  float: right;
  height: 100%;
  overflow: auto;
  width: calc(100% - 250px);
  position: relative;
}

.main h2 {
  margin: 0;
  font-size: 24px;
  padding: 15px 0;
  padding-left: 20px;
  border-bottom: 1px solid #BEB4B4;
}

/* Chat */
.workspace-messages {
  position: absolute;
  top: 60px;
  padding-top: 20px;
  overflow: auto;
  max-height: calc(100% - 140px); /* 140px top: 60px plus the workspace-input-container height in this style*/
}

.workspace-messages-end {
  float: left;
  clear: both;
}

.workspace-messages:hover {
  /* overflow-y: scroll; */
}

.workspace-message {
  padding-left: 30px;
  padding-right: 40px;
  margin-bottom: 35px;
}

.workspace-message-sender-name {
  font-weight: bold;
  font-size: 16px;
  margin-right: 12px;
}

.workspace-message-timestamp {
  font-size: 14px;
  color: #7C7C7C;
}

.workspace-message-text {
  margin-top: 5px;
  font-size: 15px;
}

.workspace-input-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f7f6f6;
}

.workspace-input-position {
  padding-left: 30px;
  padding-right: 60px;
  padding-bottom: 20px;
}

.workspace-input-container input {
  width: 100%;
  background: transparent;
  border: 1px solid #A3A1A1;
  font-size: 16px;
  padding: 10px;
  outline-color: #000000;
  outline-width: thin;
}

.workspace-input-container input::placeholder {
  color: #A3A1A1;
}



/* Sidebar */

.sidebar {
  background-color: #465864;
  display: inline-block;
  height: 100vh;
  width: 250px; 
}

.sidebar .title-box {
  background-color: #394750;
  padding: 18px 0px;
}

.sidebar .title-box h3 {
  color: #ffffff;
  margin: 0px;
  padding-left: 22px;
  font-size: 20px;
}

.sidebar .title-box h5 {
  margin: 0;
  margin-top: 2px;
  padding-left: 22px;
  font-size: 16px;
  color: rgba(245,243,245,.55);
  font-weight: 100;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  margin-top: 18px;
  padding: 0;
}

.sidebar ul.workspace-chat {
  margin-top: 0;
}

.sidebar ul li .nav-item, 
.nav-heading {
  padding: 6px 0;
  padding-left: 22px;
  color: rgba(245,243,245,.55);
  font-weight: 100;
  text-decoration: none;
  display: block;
}

.sidebar ul li .nav-item .nav-width {
  display: block;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-heading {
  margin-top: 18px;
  position: relative;
}

.sidebar ul li .nav-item:hover {
  background-color: #3e4e5a;
}

.sidebar .nav-item.nav-active {
  background-color:#A04570;
  color: #F5F3F5;
}

.sidebar .nav-item.nav-active:hover {
  background-color:#A04570;
}

.sidebar .nav-open-modal {
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 0px 5px;
  border: 1px solid;
  border-radius: 10px;
}

.sidebar .nav-open-modal:hover {
  color: #d4d1d1;
  cursor: pointer;
}

/* Modal */
.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #00000038;
  z-index: 1;

  /* display: none; */
  visibility: hidden;
  opacity: 0;
  transition: visibility .20s, opacity .20s linear;
}

.modal-hidden {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 1s linear;
}

.modal-show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity .20s linear;
  /* transition: visibility 1s, opacity 0.5s linear; */
}

.modal-sidebar-create {
  display: block;
  height: 100%;
  /* width: 50%; */
  margin-right: auto;
  margin-left: auto;
  background-color: #F7F6F6;
  /* padding: 0% 25%; */
  /* padding-top: 5%; */
}

.modal-sidebar-create-position {
  padding-top: 60px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.modal-sidebar-create-title {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 60px;
  position: relative;
}

.modal-sidebar-create-close {
  font-size: 30px;
  font-weight: 100;
  position: absolute;
  right: 0;
  top: 5px;
  color: #8D8D8D;
  cursor: pointer;
}

.modal-sidebar-create-description {
  font-weight: bold;
}


.modal-sidebar-create .form-input {
  display: inline-block;
}

.modal-sidebar-create form input {
  width: 550px;
  margin-right: 20px;
}

.modal-sidebar-create .form-error-input-icon {
  display: none; 
}

.modal-sidebar-create form button {
  display: inline-block;
  width: 100px;
  height: 45px;
  float: right;
}

.modal-sidebar-create .button-inactive {
  background-color: #D0D0D0;
  color: #585858;
}

/* Forms */
.form-container {
  margin-top: 30px;
  margin-left: 40px;
}

.form-container strong {
  color: #9f4570;
}

.form-description {
  color: #605F5F;
  /* margin-bottom: 20px; */
  line-height: 22px;
  font-size: 16px;
  font-weight: bold;
  width: 412px;
}

.form-description a {
  color: #1F8AF5;
}

.form-container input,
.modal-sidebar-create input {
  width: 400px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #B7B7B7;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 12px;
  margin-top: 30px;
  display: inline-block;
}

.form-input {
  position: relative;
  display: block;
}

input.form-error-input {
  border-color: #E24444;
}

.form-error-input-icon {
  margin-left: 20px;
  background-color: #E24444;
  color: #F7F6F6;
  padding: 2px 8px;
  border-radius: 18px;
}

.form-error-message {
  margin-top: 15px;
  color: #E24444;
  display: block;
}

.form-container input::placeholder,
.modal-sidebar-create input::placeholder {
  color:#969696;
  font-weight: bold;
  font-size: 14px;
}

.form-container button,
.modal-sidebar-create button {
  cursor: pointer;
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #4553A0;
  border: none;
  color: #F7F6F6;
  height: 40px;
  width: 250px;
  font-size: 16px;
  font-weight: bold;
}