# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/plack-frontend/node_modules
/plack-backend/node_modules

# testing
/plack-frontend/coverage

# production
/plack-frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/plack-frontend/.DS_Store
/plack-frontend/.env.local
/plack-frontend/.env.development.local
/plack-frontend/.env.test.local
/plack-frontend/.env.production.local

/plack-frontend/npm-debug.log*
/plack-frontend/yarn-debug.log*
/plack-frontend/yarn-error.log*
