body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fbfbfb;
}

.form-block {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #dadada;
}

.form-block input {
  display: block;
  margin: 12px 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  padding: 12px;
  border: 1px solid black;
  border-radius: 5px;
  width: 260px;
}

.form-block input[type="submit"] {
  color: white;
  width: 288px;
  background-color: #3c8453;
  border: none;
  margin-bottom: 30px;
  cursor: pointer;
}

.form-block input[type="submit"]:hover {
  background-color: #3c8453d1;
}

.Topbar {
  background-color: #4f8054;
  height: 55px;
  border-bottom: 1px solid #dadada;
}

.Topbar span {
  float: left;
  font-size: 24px;
  font-weight: bold;
  margin-top: 14px;
  margin-left: 25px;
  color: white;
}

.main {
  text-align: left;
}

.sidebar-width {
  display: inline-block;
  background-color: #4f8054;
  width: 220px;
}

.sidebar {
  color: #e3efe7;
  /* padding-left: 15px; */
}

.message-section p {
  margin: 0;
  padding: 5px 0;
  cursor: pointer;
}

.message-section p:hover {
  background-color: #2d4e38;
}

.message-section .add-another {
  margin-bottom: 5px;
  margin-top: 40px;
  position: relative;
}

.message-section .add-another span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.sidebar .username {
  padding-top: 15px;
}

.message-section p, .message-section .add-another, .sidebar .username {
  padding-left: 15px;
}






.messages-width {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
}

.messages-block {
  position: absolute;
  bottom: 35px;
}





html, body, #root, .App, .main, .sidebar-width, .messages-width{
  height: 100%
}